# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Vendor folder
/vendor

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
cloudsec-metrics
